html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #525f7f !important;
  color: #ffffff !important;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgba(255,255,255,0.4) !important;
}

.ui.secondary.pointing.menu a {
  color: #ffffff !important;
}

a.ui {
  margin: 10px 0 !important;
}

.ui.active.indicating.progress {
  margin: 20px 0;
}

td.good {
  color: green;
}

td.bad {
  color: red;
}

td.average {
  color: orange;
}
